@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Pen+Script&display=swap');

.nav_container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    min-height: 80px;
}

.nav-search-box {
    outline: none;
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    background: #f0f0f1;
}

.nav-search-btn {
    border: none;
    outline: none;
    background: none;
    position: relative;
    right: 43px;
    top: 5px;
    border-left: 1px solid gray;
    padding-left: 10px
}

.nav-search-btn:hover {
    cursor: pointer;
}

.nav-search-img{
    background: none;
    width: 20px;
}

.nav-menu-btn{
    margin-left: 20px;
}
.login {
    border-radius: 7px;
    color: white;
    background: #f83838;
    width: 100px;
    height: 30px;
}
.login:hover {
    cursor: pointer;
    background: #ef1818;
}

.nav-menu-img {
    width: 27px;
}
.menu-box-edge{
    display: none;
    width: 0;height: 0;
    border-top:50px solid none;
    border-bottom:10px solid #f6f6f6;
    border-right: 10px solid transparent;
    border-left: 10px solid  transparent;
}
.menu-list-box{
    display: none;
}

.nav-menu-wrapper:hover .menu-list-box{
    display: block;
    border-radius: 20px;
    background: #f6f6f6;
    width: 150px;
    height: 150px;
    position: absolute;
}

.menu-list-box ul {
    list-style: none;
}

.menu-list-box ul li {
    height: 20px;
    margin-top: 15px;
    padding-top: 5px;
}

.menu-list-box ul li:hover {
    cursor: pointer;
    padding-left: 10px;
    background: #dddee0;
    border-radius: 5px;
}

.nav-right-area ul {
    list-style: none;
}

.nav-right-area > ul > li {
    float: left;
}

.nav-wrapper {
    width: 100%;
    background: white;
    position: fixed;
}

@media screen and (max-width: 744px){
    .nav_container {
       display: block;
    }
}