* {
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: none;
    outline: none;
}

button:hover {
    cursor: pointer;
}

.Main-container {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    align-items: center;
}

.MainIndex {
    border: 1px solid gray;
    text-align: center;
    min-width: 750px;
    min-height: 1000px;
}

@media screen and (max-width: 744px){

    .Main_container {
        display: flex;
    }

    .MainIndex {
        display: block;
    }

}